

/* guide hidden */
.hidden, legend {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  clip-path: polygon(0 0, 0 0, 0 0);
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
}

/* clearfix */
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}